@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.App{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(65, 214, 170);
  font-family: 'Ubuntu', sans-serif;
}